@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import "./form.css";

:root {
  --primary-color-100: #f4f4f4;
  --primary-color-200: #dfebeb;
  --primary-color-300: #bbc1c1;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color-200);
  display: grid;
  font-size: 1.6rem;
  height: 100vh;
  place-items: center;
}

body * {
  font-family: "Poppins", sans-serif;
}

a {
  color: unset;
}
